* {
    margin: 0;
    padding: 0;
}
.caozuo {
    color: #169bd5;
    display: inline-block;
    margin-left: 10px;
}
.fenye {
    float: right;
}
footer {
    background-color: #d7d7d7;padding: 20px 20px 20px 10px;
}
footer>div {
    background-color:#fff;padding: 20px 20px 50px 20px;
}
.daohang {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #868686;
    line-height: 20px;
    margin: 15px 0px 15px 10px;
}
.title {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    margin: 0px 0px 15px 10px;
}
.ziti {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
}
.x-input {
    width: 245px;
    height: 25px;
    display: inline-block;
    margin-right: 50px;
    border: 1px solid black;
}
.content {
    padding-left: 50px;
    margin: 0px 0px 15px 0px;
}
.overall {
    border: 1px solid #BCBCBC;height: 100%; margin: 10px 10px 10px 10px
}
.tubiao {
    border: 1px dashed black;
    width: 200px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
}
.biaodan {
    margin-top: 20px;
    margin-left: 50px;
    border-collapse:separate;
    border-spacing:0px 10px;
}
.biaodan td:first-child{
    text-align: right;
}
.biaodan td:last-child {
    padding-left: 20px;
}
.biaodan tr {
    padding-bottom: 20px;
}
.x-btn {
    width: 140px;
    height: 40px;
}
.x-btn-sm {
    width: 100px;
    height: 25px;
}
.layui-table th,.layui-table td {
    text-align: center;!important;
}
.x-select {
    width: 245px;
    border: 1px solid black;
}
.neirong {
    background-color: #fff;
    margin: 0;
}
.neirong li {
    vertical-align: top;
    margin: 10px 5px 0px 5px;
    width: 50px;
    height: 70px;
    list-style: none;
    display: inline-block;
    text-align: center;
}
.kuai {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 3px;
}
.kuai h2 {
    text-align: center;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    background-color: #e2effa;
    border-radius: 10px;
    line-height: 45px;
}
.kuai h6 {
    color: #007aff;
}
.lie {
    border-bottom: dashed 1px #ababab;
}
.lie div {
    font-size: 10px;
    display: inline-block;
}
.x-group .x-group-a {
    margin-bottom: 2px;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    position: relative;
    padding-left: 10px;
}
.x-group .x-group-a div {
    display: inline-block;
}
.bufen {
    padding: 5px;
    font-size: 15px;
}
.bufen div {
    display: inline-block;
}
.bufen .bufen-title {
    color: #007aff;
}

.x-content-div {
    position: relative;
    line-height: 30px;
    background-color: #fff;
    margin: 1px 0px;
    padding: 5px;
    font-size: 15px;
}
.x-content-div div{
    display: inline-block;
}
.x-content-div div:nth-child(2) {
    padding-left: 10px;
}
.x-content-div div:nth-child(3) {
    position: absolute;
    right: 0;
}
.x-title {
    font-size: 10px;
    padding: 5px;
    background-color: #efeff4;
}
.x-biaoti {
    padding: 5px;
    position: relative;
}
.x-biaoti span:nth-child(1) {
    font-size: 10px;
    color: #007aff;
}
.x-shoucang {
    position: absolute;
    right: 5%;
    top: 20%;
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 40%;
}
.x-shoucang span:nth-child(1) {
    font-size: 15px;
}
.x-shoucang span:nth-child(2) {
    font-size: 15px;
}
.x-riqi {
    color: #007aff;
    vertical-align: top;
}
.zixun-neirong {
    position: relative;
}
.gengduo {
    position: absolute;
    right: 20px;
    font-size: 14px;
}
.x-lishi {
    position:relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}
.tan-yangshi {
    font-size: 15px;
}
.layui-layer-content {
    padding: 10px;
}
