<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/Xq.css">
</head>
<script type="text/javascript" th:src="@{js/jquery-1.8.3.min.js}"></script>
<body>
<script type="text/javascript">
    $(function () {
        alert('d');
    })
</script>
<div class="overall">
    <header>
        <div class="daohang">法规管理 / 法规目录管理</div>
        <div class="title">法规目录管理</div>
    </header>

    <footer>
        <div>
            <div class="layui-form" style="position: relative;margin: 50px 0px 30px 0px;">
                <label class="layui-form-label">选择法规：</label>
                <div class="layui-input-inline">
                    <select name="quiz">
                        <option value="请选择">请选择</option>
                        <option value="CCAR-21-R4 民用航空产品和零部件合格审定规定">民用航空产品和零部件合格审定规定</option>

                    </select>
                </div>
                <button class="layui-btn-primary x-btn-sm" style="margin-left: 50px;">确定</button>
                <button class="layui-btn layui-btn-normal" style="position: absolute;right: 0;bottom: 1px;">新增目录
                </button>
            </div>
            <table class="layui-table" style="word-break:break-all; word-wrap: break-word">
                <thead>
                <tr>
                    <th>所属法规</th>
                    <th>目录内容</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>内容</td>
                    <td>内容</td>
                    <td>
                        <a href="" class="caozuo">编辑</a>
                        <a href="" class="caozuo">删除</a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div id="page" class="fenye"></div>
        </div>
    </footer>
</div>
<script src="layui/layui.js"></script>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;

    });
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage;
        laypage.render({
            elem: 'page'
            , count: 100
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , jump: function (obj) {
            }
        });
    })
</script>
</body>
</html>